@model IEnumerable<LanchoneteDextra.Domain.Entities.Lanche>

<div class="col-lg-12" id="containerHome">
    <div class="list-group">
        @foreach (var lanche in Model)
        {
            <a href="#" class="list-group-item" id="@lanche.Id">
                <span class="badge">0</span>
                <h4 class="list-group-item-heading">@lanche.Nome</h4>
                <p class="list-group-item-text">
                    @{ var strIngredientes = ""; }
                    @foreach (var ingrediente in lanche.Ingredientes)
                    {
                        strIngredientes += ingrediente.Nome + ", ";
                    }
                    @strIngredientes.Substring(0, strIngredientes.Length-2)
                </p>
            </a>
        }
    </div>
    <button id="btnConfirmar" type="button" class="btn btn-primary btn-lg btn-block" style="display:none;">Confirmar pedido</button>
</div>

@section scripts {
    @Scripts.Render("~/bundles/index")
}
